<!-- <footer>
    Page Footer
</footer> -->
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>About Linkify</h4>
            <p>Your go-to social media platform to connect and share with friends.</p>
        </div>

        <div class="footer-section">
            <h4>Contact Linkify</h4>
            <p>Email: info@linkify.com</p>
            <p>Phone: +1 (123) 456-7890</p>
        </div>

        <div class="footer-section">
            <h4>Follow Linkify</h4>
            <p>Stay connected with us:</p>
            <ul>
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Linkify. All Rights Reserved.</p>
    </div>
</footer>
